.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100px;
    min-height: 36px;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    user-select: none;
    padding: 6px 12px;
    border-radius: 4px;
    border: 1px solid #fff;
    background-color: var(--bg-color-default);
    & + .wrapper {
        margin-left: 16px;
    }
    span {
        margin-left: 6px;
    }
}
.primary {
    color: var(--text-color-2);
    background-color: var(--color-primary);
    border-color: var(--color-primary);

    &:hover {
        background-color: var(--btn-color-hover-primary);
    }
}
.primaryOutline {
    border-color: var(--color-primary);
    color: var(--color-primary);
    &:hover {
        background-color: var(--btn-color-hover-primary-outline);
    }
}
.btn1 {
    border: 1px solid var(--border-color-btn1);
    &:hover {
        background-color: var(--btn-color-hover-1);
    }
}
.noSize {
    min-width: unset;
    padding: unset;
}
.rounder {
    border-radius: 52px;
}
.small {
    min-width: 90px;
    min-height: 32px;
    font-size: 14px;
    line-height: 20px;
    padding: 0 8px;
}
.large {
    min-width: 168px;
    min-height: 48px;
    font-size: 18px;
    line-height: 25px;
}
.dissable {
    opacity: 0.4;
    cursor: no-drop;
    &.primary:hover {
        background-color: var(--color-primary);
        border-color: var(--color-primary);
    }
    &.primaryOutline:hover {
        border-color: var(--color-primary);
    }
    &.btn1:hover {
        border: 1px solid var(--border-color-btn1);
    }
}
