.wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    height: var(--height-layout-header);
    box-shadow: 0px 1px 1px var(--box-shadow-color-1);
    background-color: var(--bg-color-default);
}
.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: var(--width-layout-container);
    padding: 0 24px;
}

.container-left {
    .logo {
        display: flex;
    }
}

.container-center {
}

.container-right {
    display: flex;
    align-items: center;
    justify-content: center;
}
.seemore {
    display: flex;
    margin-left: 16px;
    cursor: pointer;
    font-size: 24px;
    padding: 0 4px;
}
.icon-wrap {
    position: relative;
    display: flex;
    align-items: center;
    .sup-badge {
        position: absolute;
        color: var(--text-color-2);
        font-size: 14px;
        line-height: 20px;
        left: 16px;
        background: var(--color-primary);
        min-width: 20px;
        height: 20px;
        display: flex;
        -webkit-box-pack: center;
        justify-content: center;
        border-radius: 10px;
        top: -20%;
    }
}
.messages-icon {
    width: 26px;
    height: 26px;
}
.mailbox-icon {
    width: 32px;
    height: 32px;
}

.user {
    display: flex;
    align-items: center;
    margin-left: 24px;
    cursor: pointer;
    img {
        width: 32px;
        height: 32px;
        border-radius: 50%;
    }
}
