.search-result-box {
    width: 440px;
}
.search-result-label {
    height: 30px;
    padding: 5px 12px;
    font-size: 14px;
    line-height: 20px;
    font-weight: 600;
    color: var(--text-color-sub);
}
